---
import { Image } from "astro:assets";
import { ArrowUpRight, Mouse } from "lucide-astro";
import Layout from "../layouts/Layout.astro";

const workItems = [
  { 
    year: "2025 - currently",
    title: "Senior Full Stack Engineer",
    company: "Wizeline",
    website: "https://www.wizeline.ai/",
    desc: "Development of softaware solutions for Wizeline's clients focused on financial and energy markets",
    stack: "TypeScript · Node.js · React · Next.js"
  },
  {
    year: "2023 - 2025",
    title: "Senior Full Stack Engineer",
    company: "Experimentality",
    website: "https://www.experimentality.co",
    desc: "Architecture design and development of apps and integrations mainly focused on payment providers and e-commerce.",
    stack: "TypeScript · Node.js · React · Next.js · GraphQL · PostgreSQL",
  },
  {
    year: "2021 - 2023",
    title: "Senior Full Stack Engineer",
    company: "VTEX",
    webite: "https://vtex.com/",
    desc: "Enablement of VTEX partners by supporting them with architecture design and development of apps and integrations for the VTEX E-commerce platform and ensuring that best practices and guidelines are met.",
    stack: "TypeScript · Node.js · React · Next.js · GraphQL · PostgreSQL",
  },
  {
    year: "2019 - 2021",
    title: "Full Stack Engineer",
    company: "Kubbs",
    website: "https://kubbs.es",
    desc: "Lead architect and developer for DBuild, a platform for architectural studios to visualise the 3D models and manage and share the data for their projects.",
    stack: "TypeScript · Node.js · React · NoSQL",
  }
]
---

<Layout title="Edy Espinal">
  <header
    class="px-4 pt-8 z-10 lg:fixed lg:bottom-0 lg:left-0 lg:right-0 lg:bg-cyan-950 lg:px-16 lg:pb-24 lg:h-[20rem]"
  >
    <div class="flex gap-x-4 lg:mb-8">
      <Image
        src="https://github.com/edyespinal.png"
        alt="Edy Espinal"
        class="rounded-full size-20 lg:size-32"
        height={128}
        width={128}
        inferSize
      />
      <div class="lg:self-end">
        <h1
          class="flex gap-x-1 font-bold tracking-tighter text-2xl lg:flex-col lg:gap-x-0 lg:text-7xl"
        >
          <p class="lg:leading-[0.65]">Edy</p>
          <p>Espinal</p>
        </h1>
        <div class="lg:hidden">
          <h2>full stack developer</h2>
          <p class="opacity-50">Barcelona, Spain</p>
        </div>
      </div>
    </div>

    <div class="hidden lg:flex lg:gap-x-16">
      <div>
        <h2>full stack developer</h2>
        <p class="opacity-50">Barcelona, Spain</p>
      </div>
      <div>
        <p class="opacity-50">get in touch</p>
        <a href="mailto:contacto@edyespinal.com">contacto@edyespinal.com</a>
      </div>
    </div>
  </header>

  <main
    class="flex flex-col gap-y-8 px-4 py-16 max-w-xl lg:ml-auto lg:pr-16 lg:text-right lg:mt-[calc(100vh-32rem)]"
  >
    <Mouse class="hidden size-8 ml-auto mb-24 opacity-50 lg:block" />
    <div class="">
      <h2 class="text-lg lg:text-4xl my-12">about</h2>
      <p class="opacity-50">
        I'm Edy, a full stack developer passionate about growing and improving
        my skills constantly and building things that can be useful and helpful
        for others... and sometimes just for fun.
      </p>
    </div>

    <div>
      <h2 class="text-lg lg:text-4xl my-12">work experience</h2>
      <ul class="flex flex-col gap-y-8">
        {workItems.map((item) => (
          <li>
            <p class="text-sm opacity-50">{item.year}</p>
            <a
              href={item.website}
              class="flex gap-x-1 items-center lg:justify-end"
              target="_blank"
              rel="noopener noreferrer"
              >{item.title} - {item.company}
              <ArrowUpRight class="size-3" />
            </a>
            <p class="opacity-50">{item.desc}</p>
            <p class="opacity-35 text-sm">{item.stack}</p>
          </li>
        ))}
      </ul>
    </div>

    <div class="lg:mb-96">
      <h2 class="text-lg lg:text-4xl my-12">personal projects</h2>
      <ul class="flex flex-col gap-y-8">
        <li>
          <p class="text-sm opacity-50">ongoing</p>
          <a
            href="https://rolamusic.app"
            class="flex gap-x-1 items-center lg:justify-end"
            target="_blank"
            rel="noopener noreferrer"
            >ROLA
            <ArrowUpRight class="size-3" />
          </a>
          <p class="opacity-50">
            ROLA Music is a platform for musicians to create and connect with
            their fans in an exclusive community helping them monetise their
            support.
          </p>
          <p class="opacity-35 text-sm">
            TypeScript · Next.js · PostgreSQL · NoSQL · Drizzle ORM
          </p>
        </li>
      </ul>
    </div>
  </main>

  <footer
    class="flex flex-col gap-y-8 px-4 py-16 z-20 lg:fixed lg:bottom-0 lg:right-0 lg:bg-cyan-950 lg:px-16 lg:py-24 lg:h-[20rem]"
  >
    <div class="lg:hidden">
      <p class="opacity-50">get in touch</p>
      <a href="mailto:contacto@edyespinal.com">contacto@edyespinal.com</a>
    </div>
    <div class="lg:text-right">
      <h3>links</h3>
      <div>
        <a
          href="https://instagram.com/edy.espinal"
          target="_blank"
          class="flex gap-x-1 items-baseline lg:justify-end"
          rel="noopener noreferrer"
        >
          <span class="font-mono text-[0.65rem] opacity-50">01</span>
          <span class="flex gap-x-1 items-center">
            instagram
            <ArrowUpRight class="size-3" />
          </span>
        </a>
        <a
          href="https://github.com/edyespinal"
          target="_blank"
          class="flex gap-x-1 items-baseline lg:justify-end"
          rel="noopener noreferrer"
        >
          <span class="font-mono text-[0.65rem] opacity-50">02</span>
          <span class="flex gap-x-1 items-center">
            github
            <ArrowUpRight class="size-3" />
          </span>
        </a>
        <a
          href="https://linkedin.com/in/edyespinal"
          target="_blank"
          class="flex gap-x-1 items-baseline lg:justify-end"
          rel="noopener noreferrer"
        >
          <span class="font-mono text-[0.65rem] opacity-50">03</span>
          <span class="flex gap-x-1 items-center">
            linkedin
            <ArrowUpRight class="size-3" />
          </span>
        </a>
      </div>
    </div>
  </footer>
</Layout>
